<%- include("partials/head", { pageTitle: title }) %>
<div class="top-action">
  <h1><%= title %></h1>
  <p><%= body %></p>
  <a class="cta" href="/plugin.php?id=xigua_hb&mobile=2&high=0">返回首页</a>
</div>
<%- include("partials/tabbar", { currentTab: "home" }) %>
